<div class="app-card-container">
  <div class="card">
  
    <h1>Would you like to hire me?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Home Address</h3>
        
        <p>502 - 1420 Dupont St. , Toronto, Ontario, M6H0C2, Canada</p>

        <h3>Phone Number</h3>

        <p><%= number_to_phone "6477848430" %></p>

        <h3>Email</h3>

        <p><a href="mailto:the_morbidus@hotmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.1116812568152!2d-79.4503951840133!3d43.6666470791209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b346ad25dcbb1%3A0x24023aebf11464a6!2s1420%20Dupont%20St%2C%20Toronto%2C%20ON%20M6H%200C2!5e0!3m2!1sen!2sca!4v1580339533617!5m2!1sen!2sca" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>